.registration-form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ebcca4;
  border-radius: 5px;
}

button[type="submit"] {
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

