
.Heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
 font-size: 100px;
}

.page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 900px;
  border: 2px solid #42dbdb;
  border-radius: 10px;
  z-index: -1;
  background-image: url('Images/Second\ Images.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(0px);
}
.registration-form {
  width: 40%;
  margin-top: 250px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 250px;
  padding: 20px;
  border: 1px solid #a0e453;
  border-radius: 5px;
}

button[type="submit"] {
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.login-button {
  margin-top: 20px;
}



.root {
  position: relative;
  height: 100vh;
  /* background-image: url(); */
  background-size: cover;
  background-position: center;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(5px);
  /* background-image: url(); */
  background-size: cover;
  background-position: center;
}

.Heading{
  text-align: center;
}
.HomeButton{
   display: flexbox;
}
.homePageDetails{
   display:flexbox;
   margin-left: 70px;
   
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: all 0.5s;
}

.popup.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: all 0.5s;
}

.popup.show .popup-inner {
  transform: scale(1);
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 5px;
  padding-left: 20px;

}
.size{
  padding-top: 15px;
}

.errorsecond{
color: #9b9b9b;
}

.HomePagee{
   size: 20px;
  font-size: xx-large;
}